
<!-- /resources/templates/index.mustache -->
<html>
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ greeting }}, World</h1>
            <p>Example from tutorial at <a target="new" href="http://adambard.com/blog/Getting-started-with-Clojure-web-apps/">http://adambard.com/blog/Getting-started-with-Clojure-web-apps/</a></p>
            <p>Dobrý den! Příliš žluťoučký kůn úpěl ďábelské ódy.</p>
            <form action="/greeting" method="post">
              <input type="text" name="name" value="{{name}}" />
              <input type="submit" name="submit" value="Send" />
            </form>
        </div>
    </body>
</html>

